{% extends 'flat-ui-base.html'%}
{%block title%}About{%endblock%}
{%block extra_head%}
    <link href="../../static/query/resources/css/search.css" rel="stylesheet">
{%endblock%}
{%block content%}


<div class= 'col-xs-12' style='text-align:center'>
<h3> About </h3>
Ever wondered why you can buy any product online with a few clicks but can’t hire a photographer without going website hopping, hunting for reviews and making tens of phone calls? So did we. And so we built HireFellas.

HireFellas mission is to make it radically easier for you to the best photographers for your needs without hassle. We discover and curate great talent so that you pick the best photographer as per your needs in a matter of minutes.


Get multiple quotes from professional photographers

At HireFellas, we know how hard it is to find the right photographer for your cherished event, let alone the right photographer who is available, nearby and within budget. Instead of spending time web searching, page hopping and pumping up your telephone bill, just tell us what you are looking for. We’ll deliver you multiple quotes from our trusted network of professional photographers within 24 hours. You choose the best for you needs and hire the photographer. Hiring a photographer was never this simple.
</div>
{%endblock%}