{% extends 'flat-ui-base.html'%}
{%block title%}Contact{%endblock%}
{%block extra_head%}
    <link href="../../static/query/resources/css/search.css" rel="stylesheet">
{%endblock%}
{%block content%}


<div class= 'col-xs-12' style='text-align:center'>
<h3> Contact </h3>
<br><br>
<div class = 'row'>
	<div class='col-xs-6 col-md-4 col-md-offset-1'>
<b>HireFellas</b><br>
IIT Madras Incubation Cell (IITMIC) 3rd Floor<br>
IIT Madras Research Park<br>
Kanagam Road<br>
Taramani<br>
Chennai, India - 600113<br>
</div>
<div class = 'col-xs-6 col-md-4 col-md-offset-2'>
	<br><br>
	<div class='glyphicon glyphicon-earphone'></div> +91 9789 054683<br>
	<div class='glyphicon glyphicon-envelope'></div> mail@hirefellas.com
</div>

</div>
</div>
{%endblock%}