{% extends 'flat-ui-base.html'%}
{%block title%}FAQs{%endblock%}
{%block extra_head%}
    <link href="../../static/query/resources/css/search.css" rel="stylesheet">
{%endblock%}
{%block content%}


<div class= 'col-xs-12 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2' style='text-align:center; overflow:scroll'>
<h3> FAQs </h3>
1) How does HireFellas simplify things for me?<br>
<small>
At HireFellas, we connect people who need photography services with a pool of talented photographers. Instead of just returning photographers listings with ratings and reviews, a search on Hirefellas.com provides you with competitive price quotes from photographers. This means that you end up hiring the photographer who wants to do the job, and will do it well. There’s no need to hunt for the right deal in listing portals and portfolio sites of photographers.
</small>
<br>
<br>
2) How is HireFellas different from listing portals?<br>
<small>
Ratings: Listing sites return community ratings and reviews for photographers. They're open forums where pools of reviews can be influenced or bought. On our platform, only people who have completed an assignment with a HireFellas photographer can leave a review.

<br>Effectiveness: Using our advanced algorithm, we match you specifically with photographers who want to complete the assignment.

<br>Privacy: We do not share customer’s details with the service provider for marketing purposes. This means that you don’t have to worry about annoying marketing calls.
</small>
<br><br>
3) How does HireFellas’ rating system work?<br>
<small>
We ensure our reviews are from real clients who have hired our photographers. Reviews are collected and verified by our team online and by phone. We do not receive any advertising money from the professional photographers, so we have no conflicts of interest.
<br>
Each photographer’s rating on HireFellas is based on three factors: 
Portfolio (30%)<br>
Information Provided (20%)<br>
User Ratings (50%)<br>
</small>
<br><br>
4) How much is this going to cost me?<br>
<small>
HireFellas offers its services for free to the user. There are never any fees for consumers to search our site, contact photographers or book their appointments online. Simply pay the photographer for the job.
</small>
<br>
<br>
5) How does HireFellas find its photographers?<br>
<small>
We hand pick them. No, seriously. We collaborate with high quality professional photographers who we believe will add to the quality of our platform, and invite them to join our community. Professional photographers also recommend us to their peers, who come to us and request to join.
</small>
<br><br>
6) Why don't some professional photographers list an hourly rate?<br>
<small>
Some photographers choose to price their jobs depending on the individual customer needs rather than by the hour. In your correspondence with the photographer, ask him or her for a quote for your job.
</small>
<br><br>
7) What happens when I submit a request for a photographer?<br>
<small>
If you submit a request to a single photographer, we'll send your message directly to that photographer. But, we encourage you to make your request open to bids so that we can send it to additional qualified and eligible photographers in your area. 
<br>
Once you submit a request, our team members review your job and match you with the photographers we believe are best able to meet your needs. The more information you give us, the better we're able to match you up.
</small>
<br><br>
</div>
{%endblock%}