{% extends 'flat-ui-base.html' %}

{%block title%}
	Reviews
{%endblock%}
{%block content%}
<div class="profile">
         <img id="user" src="{{pgr.avatar.url}}" alt="sample-image" class="img-circle">
         <center><span id="name" class="user-name">{{pgr.name}}</span></center>
         <center><div id="default"></div></center>
         <div class="col-md-10 col-xs-10" style="margin:7%;">
            <div class="col-lg-10 col-md-10 col-xs-10" style="margin:7%;">
            <a href="#" class="btn btn-block btn-lg btn-primary">About</a>
            <a href="{%url 'portfolio' pk=pgr.user.pk page='1' %}" class="btn btn-block btn-lg btn-primary">Portfolio</a>
            <a href="{%url 'reviewlist' pk=pgr.user.pk %}" class="btn btn-block btn-lg btn-primary active">Reviews</a>
            <a href="{%url 'hire' target=pgr.user.pk%}" class="btn btn-block btn-lg btn-primary">Hire</a>
         </div>
         </div>
      </div>
      <div class="profile-content">
         <h5 style="padding-bottom:10px;border-bottom:1px solid #000;">Reviews</h5>
         {% for review in review_list%}
         <div class="row">
           <div class="col-md-2">
             
           </div>
           <div class="col-md-10">
            <span class="h5"><i>"{{review.title}}"</i></span><br>
            <span id="default1">{{review.rating}}/5</span><i class="revfoot">reviewed on {{review.date}}</i><br>
            <p>{{review.desc}}</p>
           </div>
         </div>
         {% endfor %}
      </div>
{%endblock%}
