<!-- not linked. not used. just for testing ignore. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/query/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="starter-template.css" rel="stylesheet">-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script>
	<![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style type="text/css">
		
	body {
		padding-top: 50px;
	}
	.starter-template {
		padding: 40px 15px;
		text-align: center;
	}
	.navbar-color {
		background-color: white;
		border-color: white;
	}
	#bottom-nav{
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left:50px;
	}
	.navbar-fixed-bottom{
		height:20%
	}
	#top-nav{
		margin-left:0px;
		margin-right:0px;
		width:100%;
	}
	#nav-list-top{
		height:100%;
		min-height:100%;
		padding-top:7px;
	}
	a{
		color:black;
	}
	</style>
  </head>

  <body>
	<img src='../../static/img.jpg' style='width:100%;height:100%'/>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-color" role="navigation">
      <div class="container-fluid" id="top-nav">
		<div class="row">
			<div class="col-xs-6" style="text-align:left;padding-left:15px"> <h3>LOGO</h3> </div>
			<div class="col-xs-6" style="text-align:right;padding-right:15px" id="nav-list-top">
			
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		  </div>
		  <div class="clearfix visible"></div>
		</div>
      </div>
    </div>
	<div class="navbar navbar-inverse navbar-fixed-bottom navbar-color" role="navigation">
      <div class="container-fluid" id="bottom-nav">
        
          <ul class="nav navbar-nav">
            <li><a href="#home" style="color:black"><h3>Home<h3></a></li>
            <li><a href="#about"><h3>About</h3></a></li>
            <li><a href="#contact"><h3>Contact</h3></a></li>
          </ul><!--/.nav-collapse -->
      </div>
    </div>
	<div class="container" style="top:66%;left:50%;margin-top:-100px;margin-left:-200px;position:absolute;z-index:2;width:400px;height:200px;background-color:white;opacity:0.8;border-radius:5%">
		<div class="row">
			<div class="col-xs-4"><h1 style="font-size:350%"><strong>HIRE</strong></h1></div>
			<div class="col-xs-8"><p>the best photographer for your happy moments</p></div>
		</div>
		<div class="row">
			<form role="form">
				
			</form>
		</div>
	</div>
	
    <div class="container">

      <div class="starter-template">

      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../static/query/dist/js/bootstrap.min.js"></script>
  </body>
</html>
